{% extends 'base.html' %}

{% block title %}
    Productos
{% endblock %}

{% block content %}

<h1 class="mb-4">
    Productos Artesanales
</h1>

<div class="row">

{% for product in products %}

    <div class="col-md-4">

        {% include 'product/product_card.html' with category="Artesanías Mexicanas" %}

    </div>

    {% if forloop.counter|divisibleby:3 %}

        <div class="col-12">
            <hr>
        </div>

    {% endif %}

{% empty %}

    <p>
        No hay productos disponibles
    </p>

{% endfor %}

</div>

{% endblock %}
